#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.back{
  width: 800px;
  height: 500px;
  background-color: #fff;
  border-radius: 20px;
  -webkit-box-shadow: -7px 12px 24px 0px rgba(226, 237, 205, 1);
-moz-box-shadow: -7px 12px 24px 0px rgba(226, 237, 205, 1);
box-shadow: -7px 12px 24px 0px rgba(226, 237, 205, 1);

}
.container{
  display: flex;
  flex-direction:row; 
}
.left{
  border-radius: 16px;
  background-image: url(./assets/sign.png);
  background-size:contain no-repeat;
  background-position: center;
  width: 350px;
  height: 430px;
  margin: 30px;
  

}
.right{
  display: inline-block;
}

.mini{
  font-size: 12px;
  text-align: left;
  color: gray;
}
P{
  text-align: left;
  font-size: 14px;
  color: gray;
}
h1{
  text-align: left;
}
input{
  min-width: 250px;
  border: none;
  background-color: rgb(240, 240, 240);
  height: 40px;
  align-items: left;
  border-radius: 10px;
  text-align: center;
  color: #212121;
}
button{
  
  display: block; /* Makes the button a block element, enabling margin auto to work */
  width: 50%; /* Adjust the width as needed */
  margin: 20px auto; /* Centers the button horizontally and adds some space above and below */
  padding: 10px 0; /* Adjust padding for better fitting, making the button taller */
  font-size: 16px; /* Adjust font size for better readability */
  cursor: pointer; /* Changes the cursor to a pointer when hovering over the button */
  color: #fff;
  background-color: #212121;
  height: 40px;
  border: none;
  border-radius:10px ;
  /* padding: 1rem; */
}