#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.back{
  width: 800px;
  height: 500px;
  background-color: #fff;
  border-radius: 20px;
  -webkit-box-shadow: -7px 12px 24px 0px rgba(226, 237, 205, 1);
-moz-box-shadow: -7px 12px 24px 0px rgba(226, 237, 205, 1);
box-shadow: -7px 12px 24px 0px rgba(226, 237, 205, 1);

}
.container{
  display: flex;
  
}
.left{
  border-radius: 16px;
  background-image: url(./assets/sign.png);
  background-size:contain no-repeat;
  background-position: center;
  width: 350px;
  height: 430px;
  margin: 30px;
  

}
.right{
  display:block;
}

.mini{
  font-size: 12px;
  text-align: left;
  color: gray;
}
P{
  text-align: left;
  font-size: 14px;
  color: gray;
}
h1{
  text-align: left;
}
input{
  width: 200px;
  border: none;
  background-color: rgb(240, 240, 240);
  height: 30px;
  border-radius: 30pxs;
  text-align: center;
}