.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.shop{
    height: 250px;
    width: 240px;
    background: rgba( 255, 255, 255, 0.2 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 15px );
-webkit-backdrop-filter: blur( 15px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
    border: solid 2px white;
    border-radius: 16px;
    margin-left: 30px ;
    margin-bottom:30px;
}
.image-holder{
    height: 150px;
    width: 208px;
    background-color: #ffb4b4;
    border-radius: 10px;
    margin: 1rem;
}